/* packages.css */
/* styling of the packages page */
/* Author: Justin Molnar */
/* CPRG 207 - Threaded Project */
/* 2021-11-30 */

/* Defult values/Mobile */

/* Makes tables not act like tables on mobile */
table, th, td, tr {
	display: block;
	}

/* Hide table headers on mobile (but not display: none;, for accessibility) */
th {
	position: absolute;
	top: -9999px;
	left: -9999px;
	text-align: center;
	background-color: var(--sienna);
	font-size: 1.1em;
	padding: 0;
}

table {
	border-collapse: collapse;
	text-align: center;
	max-width: 100%;
	margin: auto;
	border:2px solid var(--charcoal);
}

tr {
	background-color:  var(--orange);
    border-collapse: collapse;
}

td {
	position: relative;
	padding-left: 50%; /* Push td to right side of screen (mobile) */
	border-bottom: solid var(--charcoal) 2px;
}

/* Alternating Color of rows */
tr:nth-of-type(even) {
	background-color: var(--sienna);
}

/* On left side of screen display info before each td */
td:before {
	position: absolute;
	/* Top/left values mimic padding */
	top: 0;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	font-weight: 600;
}
/* What to display before tds */
td:nth-of-type(1):before { content: "Package Name"; }
td:nth-of-type(2):before { content: "Start Date"; }
td:nth-of-type(3):before { content: "End Date"; }
td:nth-of-type(4):before { content: "Description"; }
td:nth-of-type(5):before { content: "Package Price, CAD"; }


/* Below applies to larger screens only */
@media (min-width:55em) {

	/* Make tables act like tables on larger screens */
	table {
		display:table;
		max-width: 85%;
	}

	td {
		display:table-cell;
		position: static;
		padding: .7em .5em .7em .5em;
	}

	th{
		padding: 0;
		display:table-cell;
		position: static;
		border-bottom:2px solid var(--charcoal);
	}

	tr {
		display:table-row;
	}

	/* Alternating row colors */
	tr:nth-child(odd) {
		background-color: var(--orange-accent);
	}
	tr:nth-of-type(even) {background-color: var(--orange);}
}

