@section head {
    <link rel="stylesheet" href="~/css/customerhome.css">
    <link rel="stylesheet" type="text/css" href="~/css/packages.css" />
    <meta name="description" content="See your personal and orders info here">
    <title>Profile Home - Travel Experts</title>
}


<h2>
    Welcome Back <%= customer.CustFirstName %>!  <!-- First name in h1 at top of screen -->
</h2>

<div class="main-content">

    <div class="grid">
        <table class="bottom-border">
            <!-- Table of Customer Information, First/Last name, Cust ID, Address (Postal, city prov), Home and Business Phone, Email and Agent -->
            <tr>
                <td class="label"><b>Name:</b></td>
                <td><%= customer.CustFirstName %> <%= customer.CustLastName %> </td>
                <td></td>
                <td class="label"><b>Customer ID:</b></td>
                <td><%= customer.CustomerId %></td>
            </tr>
            <!-- Blank Row -->
            <tr><td style="height: 2em;"></td></tr>
            <tr>
                <td class="label"><b>Address:</b></td>
                <td><%= customer.CustAddress %></td>
                <td></td>
                <td class="label"><b>Postal Code:</b></td>
                <td><%= customer.CustPostal %></td>
            </tr>
            <td></td>
            <td><%= customer.CustCity %> <%= customer.CustProv %></td>
            </tr>
            <tr>
                <td class="label"><b>Home Phone:</b></td>
                <td>(<%= customer.CustHomePhone.slice(0, 3) %>) <%= customer.CustHomePhone.slice(3, 6) %>-<%= customer.CustHomePhone.slice(6, 10) %></td>
                <td></td>
                <td class="label"><b>Business Phone:</b></td>
                <td>(<%= customer.CustBusPhone.slice(0, 3) %>) <%= customer.CustBusPhone.slice(3, 6) %>-<%= customer.CustBusPhone.slice(6, 10) %></td>
            </tr>
            <!-- Blank Row -->
            <tr><td style="height: 2em;"></td></tr>
            <tr>
                <td class="label"><b>Email:</b></td>
                <td><%= customer.CustEmail %></td>
                <td></td>
                <td class="label"><b>Agent:</b></td>
                <td><%= customer.AgentId %></td>
            </tr>
        </table>
    </div>
</div>