@{
    ViewData["Title"] = "Home Page";
}

@section head {
    <link rel="stylesheet" href="~/css/carousel.css">
    <meta name="description" content="Find Vacation Packages Here - the Travel Experts agency">
    <title>Welcome to Travel Experts</title>
}

<!-- Hero Carousel -->
<div class="carousel">
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current-slide">
                <img class="carousel__image" src="~/Images/hero1.jpg" alt="Marvellous view of Mount Fuji, Japan">
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="~/Images/hero2.jpg" alt="New Year's party on a boat in Cancun, Mexico">
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="~/Images/hero3.jpg" alt="Beautifull cobbled streets in an ancient German city">
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="~/Images/hero4.jpg" alt="Daredevil man enjoying a jump of a lifetime at a tropical waterfall">
            </li>
        </ul>
    </div>

    <!-- Left/Right Buttons on Carousel -->
    <button class="carousel__button carousel__button--left is-hidden">&#10094;</button>
    <button class="carousel__button carousel__button--right">&#10095;</button>

    <!-- Hero Button, Text and bg to make text legible -->
    <div class="bg">
        <h1></h1>
    </div>

    <div class="bg__text">
        <h1 class="hero-text">Explore Asia on your own terms</h1>
    </div>

    <a href="home/packages">
        <button class="carousel__button carousel__button--cta">
            <p style="font-size: 1.2em;"><b>Book Now!</b></p>
        </button>
    </a>

    <!-- Indicator dots under carousel to let you know what image you are currently on -->
    <div class="carousel__nav">
        <button class="carousel__indicator current-slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>

</div>
<br>
<div class="main-content" style="min-height: 0;">
    <div class="grid">
        <!-- First Content Blurb -->
        <h1>Welcome to Travel Experts!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br /><br />
        <ul>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Consectetur adipiscing elit
            </li>
            <li>
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </li>
        </ul>
    </div>

    <div>
        <img class="grid grid__img" style="margin-top: 3em;" src="~/images/suitcases.jpg">
    </div>
</div>

<!-- Testimonial section -->
<div class="testimonial">
    <div class="main-content" style="height:100%">

        <div class="grid">
            <div class="grid testimonial-pic"></div>
            <div class="testimonial-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
            </div>
        </div>

        <div class="grid">
            <div class="grid testimonial-pic"></div>
            <div class="testimonial-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
            </div>
        </div>

        <div class="grid">
            <div class="grid testimonial-pic">

            </div>
            <div class="testimonial-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
            </div>
        </div>
    </div>
</div>

<!-- About us, in its own main-content div so it doesn't interact with the above divs -->
<div class="main-content" style="min-height: 0;">
    <div class="grid">
        <h3>About Us...</h3>
        <p class="para">
            We are one of the leading travel agencies in Alberta. At Travel Experts, we take pride
            in providing our clients with customized services right from planning to conclusion of your trips
            including rescheduling and documentation. For business or pleasure, we take pride in providing you
            with the deals in market.Check out our exciting <a href="home/packages">packages</a>. we guarantee that you can
            save your money and time and focus on more important aspects of your travel.We guarantee that
            you save money and time and focus on
            more important aspects of your travel. <a href="home/register">Register</a> with us
            so that you get our top deals.
        </p>
    </div>
</div>

<script src="~/js/carousel.js"></script>