@section head {
<script src="~/js/readOrders.js"></script>
<meta name="description" content="Order vacation packages in here: for the customers of the Travel Experts agency">
<title>Place Your Order - Travel Experts</title>
}

<br />
<br />
<div class="main-content">

    <div>
        <img class="grid grid__img" src="orderimg.jpg">
    </div>

    <div class="grid">
        <h2>Order Package</h2>
        <section>
            <form id="orderForm" method="post" action="/orderPlaced">
                <label for="fname">First Name</label>
                <br />
                <input type="text" name="fname" value="<%= customer.CustFirstName %>" readonly="readonly" />
                <span id="firstname" style="visibility: hidden;">Account Firstname</span>
                <br />
                <label for="lname">Last Name</label>
                <br />
                <input type="text" name="lname" value="<%= customer.CustLastName %>" readonly="readonly" />
                <span id="lastname" style="visibility: hidden;">Account Lastname</span>
                <br />
                <label for="email">Email</label>
                <br />
                <input type="email" name="email" value="<%= customer.CustEmail %>" readonly="readonly" />
                <span id="email" style="visibility: hidden;">Account Email</span>
                <br />
                <label for="package">Select one of our current Packages!</label>
                <br />
                <select name="package">
                    <option></option>
                    <% packages.forEach((tripPackage)=>{ %>
                    <option><%= tripPackage.PackageId %> - <%= tripPackage.PkgName %></option>
                    <% }) %>
                </select>
                <br />
                <label for="groupSize">How many people will be on the trip?</label>
                <br />
                <input type="number" name="groupSize" min="1" max="10" />
                <br />
                <label for="type">What kind of trip are you going on?</label>
                <br />
                <select name="type">
                    <option></option>
                    <option> Business </option>
                    <option> Group </option>
                    <option> Leisure </option>
                </select>
                <input type="submit" value="Send" class="formsubmit" onclick="return validate()" />
                <input type="reset" value="Clear" class="formsubmit" onclick="return confirm('Are you sure you want clear all values from all fields?')" />
            </form>
        </section>
    </div>
</div>