@section head {
    <meta name="description" content="You package order was successfully placed">
    <title>Order Placed  - Travel Experts</title>
}

<div class="main-content">
    <div class="grid">
        <h1>Order Placed</h1>
        Thank you for ordering! Your agent will contact you within 48 hours!
    </div>
</div>