@section head {
    <meta name="description" content="See Vacation Packages Here - the Travel Experts agency">
    <link rel="stylesheet" type="text/css" href="~/css/packages.css" />
    <title> Packages - Travel Agents </title>
}

<h1> Our best packages for you: </h1>
<div class="main-content">
    <!-- A table with data from the travelexperts MySQL database is displayed: -->
    <table class="table">
        <!-- A row with customised column header names is created and displayed: -->
        <% let tableHeaders = ["Package Name", "Start Date", "End Date", "Description",
        "Package Price, CAD", "Order a Package"];%>
        <!-- Created an array of table headers here, the last column
        from the database's packages table (agency's commission) was intentionally replaced by order buttons. -->
        <tr>
            <% for (let key in tableHeaders) { %>
            <% if (tableHeaders.hasOwnProperty(key)) { %>
            <th><%= tableHeaders[key] %></th>
            <% } %>
            <% } %>
        </tr>
        <!-- Rows of information about packages are retrieved from the database and displayed dynamically: -->
        <% for (let customer of result) { %>
        <tr>
            <% for (let key in customer) { %>
            <%  if (customer.hasOwnProperty(key)) { %>
            <% if (Array.isArray(customer[key])){ %>
            <td style="color: <%= customer[key][1]%>; font-weight: <%= customer[key][2] %>;">
                <%= customer[key][0]%>
            </td>
            <% } else { %>
            <td><%= customer[key] %></td>
            <% } %>
            <%	} %>
            <% } %>
            <!-- A button with a link to order packages is inserted as the last column of the packages table:  -->
            <td>
                <a href="/order"><button class="btn"> Order This Package </button></a>
            </td>
        </tr>

        <% } %>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>