@section head {
    <meta name="description" content="This page loads after sussessful customer registration as a confirmation">
    <title>Thank You for Registering - Travel Experts</title>
}

<div class="main-content">
    <div class="grid">
        <h1>Thank you</h1>
        <article>
            Lorem ipsum dolor sit amet, dico feugait petentium eos ne, lobortis scripserit nam an, eam utroque expetenda assueverit et. An mutat clita delectus vel, eum singulis efficiendi referrentur no. Te eum populo oporteat constituto. Vis quod saepe recteque ex. Pro in tantas putent mollis. Graeco denique cum in. Iracundia eloquentiam ut pro, stet posse mandamus ea sit.
        </article>
    </div>
</div>